*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Poppins';
    --main-purple: 	#663b94;
    --accent-purple: #9c55e9;
    --subtle-shadow: 0 1px 6px hsl(0deg 0% 0% / 0.3);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 6rem;
}

#kanji-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#kanji-search {
    font-size: 1.5rem;
    padding: 0.4rem;
    border: none;
    border-bottom: 2px solid var(--accent-purple);
    outline: none;
}

#search-button {
    padding: 0.5em 3em;
    font-family: 'Poppins';
    border: none;
    box-shadow: 0 1px 6px hsl(0deg 0% 0% / 0.3);
    cursor: pointer;
    align-self: center;
    border-radius: 0.2rem;
}

#search-button:hover {
    box-shadow: 0 1px 6px hsl(0deg 0% 0% / 0.5);
    transition: 0.2s ease-in-out;
}

.kanji-image-container {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--subtle-shadow);
}

/* Kanji displayed from api */
.big-kanji {
    font-size: 10rem;
    font-weight: 500;
    color: white;
    background-color: var(--main-purple);
    padding: 5rem 10rem;
}

.kanji-header {
    text-align: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 0.3rem;
}


